{% extends 'admins/admin-base.html' %} {% block content %} {% load static %}

<div class="sa-app__content">
    <!-- sa-app__toolbar -->
    <div class="sa-toolbar sa-toolbar--search-hidden sa-app__toolbar">
        <div class="sa-toolbar__body">
            <div class="sa-toolbar__item">
                <button class="sa-toolbar__button" type="button" aria-label="Menu" data-sa-toggle-sidebar="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"
                        fill="currentColor">
                        <path d="M1,11V9h18v2H1z M1,3h18v2H1V3z M15,17H1v-2h14V17z"></path>
                    </svg>
                </button>
            </div>
            <div class="sa-toolbar__item sa-toolbar__item--search">
                <form class="sa-search sa-search--state--pending">
                    <div class="sa-search__body">
                        <label class="visually-hidden" for="input-search">Search for:</label>
                        <div class="sa-search__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16"
                                fill="currentColor">
                                <path
                                    d="M16.243 14.828C16.243 14.828 16.047 15.308 15.701 15.654C15.34 16.015 14.828 16.242 14.828 16.242L10.321 11.736C9.247 12.522 7.933 13 6.5 13C2.91 13 0 10.09 0 6.5C0 2.91 2.91 0 6.5 0C10.09 0 13 2.91 13 6.5C13 7.933 12.522 9.247 11.736 10.321L16.243 14.828ZM6.5 2C4.015 2 2 4.015 2 6.5C2 8.985 4.015 11 6.5 11C8.985 11 11 8.985 11 6.5C11 4.015 8.985 2 6.5 2Z">
                                </path>
                            </svg>
                        </div>
                        <input type="text" id="input-search" class="sa-search__input" placeholder="Search for the truth"
                            autocomplete="off" /><button class="sa-search__cancel d-sm-none" type="button"
                            aria-label="Close search">
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"
                                fill="currentColor">
                                <path
                                    d="M10.8,10.8L10.8,10.8c-0.4,0.4-1,0.4-1.4,0L6,7.4l-3.4,3.4c-0.4,0.4-1,0.4-1.4,0l0,0c-0.4-0.4-0.4-1,0-1.4L4.6,6L1.2,2.6 c-0.4-0.4-0.4-1,0-1.4l0,0c0.4-0.4,1-0.4,1.4,0L6,4.6l3.4-3.4c0.4-0.4,1-0.4,1.4,0l0,0c0.4,0.4,0.4,1,0,1.4L7.4,6l3.4,3.4 C11.2,9.8,11.2,10.4,10.8,10.8z">
                                </path>
                            </svg>
                        </button>
                        <div class="sa-search__field"></div>
                    </div>
                    <div class="sa-search__dropdown">
                        <div class="sa-search__dropdown-loader"></div>
                        <div class="sa-search__dropdown-wrapper">
                            <div class="sa-search__suggestions sa-suggestions"></div>
                            <div class="sa-search__help sa-search__help--type--no-results">
                                <div class="sa-search__help-title">
                                    No results for &quot;<span class="sa-search__query"></span>&quot;
                                </div>
                                <div class="sa-search__help-subtitle">
                                    Make sure that all words are spelled correctly.
                                </div>
                            </div>
                            <div class="sa-search__help sa-search__help--type--greeting">
                                <div class="sa-search__help-title">
                                    Start typing to search for
                                </div>
                                <div class="sa-search__help-subtitle">
                                    Products, orders, customers, actions, etc.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sa-search__backdrop"></div>
                </form>
            </div>
            <div class="mx-auto"></div>
            <div class="sa-toolbar__item d-sm-none">
                <button class="sa-toolbar__button" type="button" aria-label="Show search" data-sa-action="show-search">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16"
                        fill="currentColor">
                        <path
                            d="M16.243 14.828C16.243 14.828 16.047 15.308 15.701 15.654C15.34 16.015 14.828 16.242 14.828 16.242L10.321 11.736C9.247 12.522 7.933 13 6.5 13C2.91 13 0 10.09 0 6.5C0 2.91 2.91 0 6.5 0C10.09 0 13 2.91 13 6.5C13 7.933 12.522 9.247 11.736 10.321L16.243 14.828ZM6.5 2C4.015 2 2 4.015 2 6.5C2 8.985 4.015 11 6.5 11C8.985 11 11 8.985 11 6.5C11 4.015 8.985 2 6.5 2Z">
                        </path>
                    </svg>
                </button>
            </div>
            <div class="sa-toolbar__item dropdown">
                <button class="sa-toolbar__button" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown"
                    data-bs-reference="parent" data-bs-offset="0,1" aria-expanded="false">
                    <img src="{% static 'admins/vendor/flag-icons/24/DE.png' %}" class="sa-language-icon" alt="" />
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton3">
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="#"><img
                                src="{% static 'admins/vendor/flag-icons/24/DE.png' %}" class="sa-language-icon me-3"
                                alt="" /><span class="ps-2">German</span></a>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="#"><img
                                src="{% static 'admins/vendor/flag-icons/24/FR.png' %}" class="sa-language-icon me-3"
                                alt="" /><span class="ps-2">French</span></a>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="#"><img
                                src="{% static 'admins/vendor/flag-icons/24/GB.png' %}" class="sa-language-icon me-3"
                                alt="" /><span class="ps-2">English</span></a>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="#"><img
                                src="{% static 'admins/vendor/flag-icons/24/RU.png' %}" class="sa-language-icon me-3"
                                alt="" /><span class="ps-2">Russian</span></a>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="#"><img
                                src="{% static 'admins/vendor/flag-icons/24/IT.png' %}" class="sa-language-icon me-3"
                                alt="" /><span class="ps-2">Italian</span></a>
                    </li>
                </ul>
            </div>
            <div class="sa-toolbar__item dropdown">
                <a href="{% url 'sup_logout' %}"><button class="btn btn-danger w-100">logot</button></a>
            </div>
            <div class="dropdown sa-toolbar__item">
                <button class="sa-toolbar-user" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                    data-bs-offset="0,1" aria-expanded="false">
                    <span class="sa-toolbar-user__avatar sa-symbol sa-symbol--shape--rounded"><img
                            src="{% static 'images/customers/customer-4-64x64.jpg' %}" width="64" height="64"
                            alt="" /></span><span class="sa-toolbar-user__info"><span
                            class="sa-toolbar-user__title">Konstantin Veselovsky</span><span
                            class="sa-toolbar-user__subtitle">stroyka@example.com</span></span>
                </button>
                <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li>
                        <a class="dropdown-item" href="app-inbox-list.html">Inbox</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="app-settings-toc.html">Settings</a>
                    </li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li>
                        <a class="dropdown-item" href="auth-sign-in.html">Sign Out</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="sa-toolbar__shadow"></div>
    </div>
    <!-- sa-app__toolbar / end -->
    <!-- sa-app__body -->
    <div id="top" class="sa-app__body px-2 px-lg-4">
        <div class="container pb-6" id="items">
            <div class="row justify-content-center">
                <div class="col-md-6 p-3 border">
                    <div class="text-center">
                        <h3>Brand Offers</h3>
                    </div>
                    <div class="d-flex my-2 align-items-center border shadow py-3 mb-3">
                        <div class="col-2"><strong>ID</strong></div>
                        <div class="col-3"><strong>Brand</strong></div>
                        <div class="col-2"><strong>Items</strong></div>
                        <div class="col-2"><strong>Offer</strong></div>
                        <div class="col-3 d-flex justify-content-center bg-light p-2"></div>
                    </div>
                    {% for brand in brands %}
                    <div class="d-flex my-2 align-items-center shadow-sm">
                        <div class="col-2">#00{{ brand.id }}</div>
                        <div class="col-3">{{ brand.name }}</div>
                        <div class="col-2">{{ brand.items }}</div>
                        <div class="col-2">{{ brand.category_off }}</div>
                        <div class="col-3 d-flex justify-content-center">
                            <a href="{% url 'br_dlt' brand.id %}" class="btn btn-danger w-75">Delete</a>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="d-flex my-2 shadow my-3">
                        <div class="offset-2 col-8 btn btn-primary" id="btn-for-form">Add New Brand</div>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-center d-none" id="form">
                    <form action="{% url 'br_add' %}" method="post" class="card col-12 px-3">
                        {% csrf_token %}
                        <input class="form-control my-3" type="text" name="name" placeholder="New Brand Name" required>
                        <div class="d-flex justify-content-around my-3">
                            <div class="col-md-5"><input type="number" value="0" class="form-control" name="offer"></div>
                            <input type="submit" class="col-md-5 btn btn-primary" id="submit-btn">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('#btn-for-form').click(function(){
            $('#form').removeClass('d-none')
            $('#btn-for-form').hide()
        })
        $('#submit-btn').click(function(){
            $('#form').addClass('d-none')
            $('#btn-for-form').show()
        })
    })
</script>

{% endblock %}
