{% extends 'admins/admin-base.html' %} {% block content %} {% load static %}

<div class="sa-app__content">
    <!-- sa-app__toolbar -->
    <div class="sa-toolbar sa-toolbar--search-hidden sa-app__toolbar">
        <div class="sa-toolbar__body">
            <div class="sa-toolbar__item">
                <button class="sa-toolbar__button" type="button" aria-label="Menu" data-sa-toggle-sidebar="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"
                        fill="currentColor">
                        <path d="M1,11V9h18v2H1z M1,3h18v2H1V3z M15,17H1v-2h14V17z"></path>
                    </svg>
                </button>
            </div>
            <div class="sa-toolbar__item sa-toolbar__item--search">
                <form class="sa-search sa-search--state--pending">
                    <div class="sa-search__body">
                        <label class="visually-hidden" for="input-search">Search for:</label>
                        <div class="sa-search__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16"
                                fill="currentColor">
                                <path
                                    d="M16.243 14.828C16.243 14.828 16.047 15.308 15.701 15.654C15.34 16.015 14.828 16.242 14.828 16.242L10.321 11.736C9.247 12.522 7.933 13 6.5 13C2.91 13 0 10.09 0 6.5C0 2.91 2.91 0 6.5 0C10.09 0 13 2.91 13 6.5C13 7.933 12.522 9.247 11.736 10.321L16.243 14.828ZM6.5 2C4.015 2 2 4.015 2 6.5C2 8.985 4.015 11 6.5 11C8.985 11 11 8.985 11 6.5C11 4.015 8.985 2 6.5 2Z">
                                </path>
                            </svg>
                        </div>
                        <input type="text" id="input-search" class="sa-search__input" placeholder="Search for the truth"
                            autocomplete="off" /><button class="sa-search__cancel d-sm-none" type="button"
                            aria-label="Close search">
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"
                                fill="currentColor">
                                <path
                                    d="M10.8,10.8L10.8,10.8c-0.4,0.4-1,0.4-1.4,0L6,7.4l-3.4,3.4c-0.4,0.4-1,0.4-1.4,0l0,0c-0.4-0.4-0.4-1,0-1.4L4.6,6L1.2,2.6 c-0.4-0.4-0.4-1,0-1.4l0,0c0.4-0.4,1-0.4,1.4,0L6,4.6l3.4-3.4c0.4-0.4,1-0.4,1.4,0l0,0c0.4,0.4,0.4,1,0,1.4L7.4,6l3.4,3.4 C11.2,9.8,11.2,10.4,10.8,10.8z">
                                </path>
                            </svg>
                        </button>
                        <div class="sa-search__field"></div>
                    </div>
                    <div class="sa-search__dropdown">
                        <div class="sa-search__dropdown-loader"></div>
                        <div class="sa-search__dropdown-wrapper">
                            <div class="sa-search__suggestions sa-suggestions"></div>
                            <div class="sa-search__help sa-search__help--type--no-results">
                                <div class="sa-search__help-title">
                                    No results for &quot;<span class="sa-search__query"></span>&quot;
                                </div>
                                <div class="sa-search__help-subtitle">
                                    Make sure that all words are spelled correctly.
                                </div>
                            </div>
                            <div class="sa-search__help sa-search__help--type--greeting">
                                <div class="sa-search__help-title">
                                    Start typing to search for
                                </div>
                                <div class="sa-search__help-subtitle">
                                    Products, orders, customers, actions, etc.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sa-search__backdrop"></div>
                </form>
            </div>
            <div class="mx-auto"></div>
            <div class="sa-toolbar__item d-sm-none">
                <button class="sa-toolbar__button" type="button" aria-label="Show search" data-sa-action="show-search">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16"
                        fill="currentColor">
                        <path
                            d="M16.243 14.828C16.243 14.828 16.047 15.308 15.701 15.654C15.34 16.015 14.828 16.242 14.828 16.242L10.321 11.736C9.247 12.522 7.933 13 6.5 13C2.91 13 0 10.09 0 6.5C0 2.91 2.91 0 6.5 0C10.09 0 13 2.91 13 6.5C13 7.933 12.522 9.247 11.736 10.321L16.243 14.828ZM6.5 2C4.015 2 2 4.015 2 6.5C2 8.985 4.015 11 6.5 11C8.985 11 11 8.985 11 6.5C11 4.015 8.985 2 6.5 2Z">
                        </path>
                    </svg>
                </button>
            </div>
            <div class="sa-toolbar__item dropdown">
                <button class="sa-toolbar__button" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown"
                    data-bs-reference="parent" data-bs-offset="0,1" aria-expanded="false">
                    <img src="{% static 'admins/vendor/flag-icons/24/DE.png' %}" class="sa-language-icon" alt="" />
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton3">
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="#"><img
                                src="{% static 'admins/vendor/flag-icons/24/DE.png' %}" class="sa-language-icon me-3"
                                alt="" /><span class="ps-2">German</span></a>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="#"><img
                                src="{% static 'admins/vendor/flag-icons/24/FR.png' %}" class="sa-language-icon me-3"
                                alt="" /><span class="ps-2">French</span></a>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="#"><img
                                src="{% static 'admins/vendor/flag-icons/24/GB.png' %}" class="sa-language-icon me-3"
                                alt="" /><span class="ps-2">English</span></a>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="#"><img
                                src="{% static 'admins/vendor/flag-icons/24/RU.png' %}" class="sa-language-icon me-3"
                                alt="" /><span class="ps-2">Russian</span></a>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="#"><img
                                src="{% static 'admins/vendor/flag-icons/24/IT.png' %}" class="sa-language-icon me-3"
                                alt="" /><span class="ps-2">Italian</span></a>
                    </li>
                </ul>
            </div>
            <div class="sa-toolbar__item dropdown">
                <a href="{% url 'sup_logout' %}"><button class="btn btn-danger w-100">logot</button></a>
            </div>
            <div class="dropdown sa-toolbar__item">
                <button class="sa-toolbar-user" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                    data-bs-offset="0,1" aria-expanded="false">
                    <span class="sa-toolbar-user__avatar sa-symbol sa-symbol--shape--rounded"><img
                            src="{% static 'images/customers/customer-4-64x64.jpg' %}" width="64" height="64"
                            alt="" /></span><span class="sa-toolbar-user__info"><span
                            class="sa-toolbar-user__title">Konstantin Veselovsky</span><span
                            class="sa-toolbar-user__subtitle">stroyka@example.com</span></span>
                </button>
                <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li>
                        <a class="dropdown-item" href="app-inbox-list.html">Inbox</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="app-settings-toc.html">Settings</a>
                    </li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li>
                        <a class="dropdown-item" href="auth-sign-in.html">Sign Out</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="sa-toolbar__shadow"></div>
    </div>
    <!-- sa-app__toolbar / end -->
    <!-- sa-app__body -->
    <div id="top" class="sa-app__body px-2 px-lg-4">
        <div class="container pb-6" id="items">
            <div class="py-5">
                <div class="row g-4 align-items-center">
                    <div class="col">
                        <h1 class="h3 m-0">Offers</h1>
                    </div>
                </div>
            </div>
            <!-- <style>
                /* Hide scrollbar for Chrome, Safari and Opera */
                body::-webkit-scrollbar {
                    display: none;
                }
                
                /* Hide scrollbar for IE, Edge and Firefox */
                .example {
                  -ms-overflow-style: none;  /* IE and Edge */
                  scrollbar-width: none;  /* Firefox */
                }
            </style> -->
            <div class="row">
                <div class="col-lg-6 p-3 example border">
                    <div class="text-center">
                        <h3>Category Offers</h3>
                    </div>
                    <div class="d-flex my-2 align-items-center border shadow py-3 mb-3">
                        <div class="col-1"><strong>ID</strong></div>
                        <div class="col-3"><strong>Brand</strong></div>
                        <div class="col-1"><strong>Items</strong></div>
                        <div class="col-1"><strong>Offer</strong></div>
                        <div class="col-3 d-flex justify-content-center bg-light p-2"></div>
                        <div class="col-3 d-flex justify-content-center bg-light p-2"></div>
                    </div>
                    {% for brand in off_brands %}
                    <div class="d-flex my-2 align-items-center shadow-sm">
                        <div class="col-1">#0{{ brand.id }}</div>
                        <div class="col-3">{{ brand.name }}</div>
                        <div class="col-1">{{ brand.items }}</div>
                        <div class="col-1">{{ brand.category_off.price }}</div>
                        <div class="col-3 d-flex justify-content-center">
                            <button class="br_btn btn btn-primary w-75" data-val="{{ brand.category_off.price }}"
                                data-name="{{ brand.name }}" id="{{ brand.category_off.id }}">Edit</button>
                        </div>
                        <div class="col-3 d-flex justify-content-center">
                            <a href="{% url 'dlt_offer' brand.category_off.id %}" class="btn btn-danger w-75">Delete</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>


                <div class="col-lg-6 p-3 overflow-auto example border">
                    <div class="text-center">
                        <h3>Product Offers</h3>
                    </div>
                    <div class="d-flex my-3 align-items-center border shadow py-3 mb-3">
                        <div class="col-1"><strong>ID</strong></div>
                        <div class="col-2 d-flex justify-content-center"><strong>Product</strong></div>
                        <div class="col-2"><strong>Name</strong></div>
                        <div class="col-2"><strong>Ram & Rom</strong></div>
                        <div class="col-1"><strong>Offer</strong></div>
                        <div class="col-2 d-flex justify-content-center"></div>
                        <div class="col-2 d-flex justify-content-center"></div>
                    </div>
                    {% for product in off_products %}
                    <div class="d-flex my-3 align-items-center shadow-sm">
                        <div class="col-1">#{{ product.id }}</div>
                        <div class="col-2 d-flex justify-content-center"><img src="{{ product.image1Url }}" alt=""
                                class="w-25"></div>
                        <div class="col-2">{{ product.name }}</div>
                        <div class="col-2">{{ product.ram }} | {{ product.storage }}</div>
                        <div class="col-1">{{ product.product_off.price }}</div>
                        <div class="col-2 d-flex justify-content-center">
                            <button class="pro_btn btn btn-primary w-75" data-val="{{ product.product_off.price }}"
                                data-name="{{ product.name }}" id="{{ product.id }}">Edit</button>
                        </div>
                        <div class="col-2 d-flex justify-content-center">
                            <a href="{% url 'dlt_offer' product.product_off.id %}" class="btn btn-danger w-75">Delete</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="accordion w-100" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                &#10010; Add Offer
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="col-12 d-flex align-items-center" id="form">
                                    <form action="{% url 'add_offer' %}" method="post" class="card col-12 px-3">
                                        {% csrf_token %}
                                        <label for="name" class="mt-3">Offer Name</label>
                                        <div class="my-3 m-0 row">
                                            <div class="col-md-6"><select class="form-control" name="name" id="name">
                                                <option value="">Select Offer</option>
                                                <option value="Category">Category Offer</option>
                                                <option value="Product">Product Offer</option>
                                            </select></div>
                                            <div class="col-md-6 text-center" id="notselect"><span >Please Select Offer Name</span></div>
                                            <div class="col-md-6" id="brands"><select class="form-control" name="brand">
                                                {% for brand in brands %}
                                                <option value="{{ brand.id }}">{{ brand.name }}</option>
                                                {% endfor %}
                                            </select></div>
                                            <div class="col-md-6" id="products"><select class="form-control" name="product">
                                                {% for product in products %}
                                                <option value="{{ product.id }}">{{ product.name }}</option>
                                                {% endfor %}
                                            </select></div>
                                        </div>
                                        <div class="d-flex justify-content-around my-3 row m-0">
                                            <div class="col-md-5"><label for="">Offer</label><input type="number"
                                                    value="0" class="form-control" name="offer"></div>
                                            <div class="col-md-4"><input type="submit" class="btn btn-primary w-100 mt-5" id="submit-btn"></div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container pb-6" id="forms">
            <div class="row d-flex justify-content-cente align-items-center vh-100 pb-5">
                <div class="offset-3 col-md-6 p-5 bg-white form card shadow">
                    <form action="" method="post" class="row">
                        {% csrf_token %}
                        <div class="col-md-3" id="this_id"></div>
                        <div class="col-md-4" id="this_name"></div>
                        <input type="number" class="col-md-5" id="this_input">
                        <div class="col-md-6 px-2 d-flex justify-content-center my-3"><button
                                class="btn btn-primary w-75" id="back">Back</button></div>
                        <div class="col-md-6 px-2 d-flex justify-content-center my-3"><button
                                class="btn btn-primary w-75" id="this_btn">Save</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#forms').hide()
        $('#products').hide()
        $('#brands').hide()
        $('#name').change(function(){
            if($(this).val() == 'Category'){
                $('#products').hide()
                $('#brands').show()
                $('#notselect').hide()
            }else if($(this).val() == 'Product'){
                $('#brands').hide()
                $('#products').show()
                $('#notselect').hide()
            }else if($(this).val() == ''){
                $('#brands').hide()
                $('#products').hide()
                $('#notselect').show()
            }
        })
        $('.br_btn').click(function () {
            var id_s = $(this).attr('id')
            var name = $(this).data('name')
            var val = $(this).data('val')
            $('#this_id').html(id_s)
            $('#this_name').html(name)
            $('#this_input').val(val)
            $('#this_btn').attr('data-type', 'brand')
            $('#this_btn').attr('data-val', id_s)
            $('#items').hide()
            $('#forms').show()

        })
        $('.pro_btn').click(function () {
            var id_s = $(this).attr('id')
            var name = $(this).data('name')
            var val = $(this).data('val')
            $('#this_id').html(id_s)
            $('#this_name').html(name)
            $('#this_input').val(val)
            $('#this_btn').attr('data-type', 'product')
            $('#this_btn').attr('data-val', id_s)
            $('#items').hide()
            $('#forms').show()
        })
        $('#this_btn').click(function () {
            var typeId = $(this).data('val')
            var val = $('#this_input').val()
            $.ajax({
                method: "POST",
                url: "{% url 'offers' %}",
                data: {
                    typeId: typeId,
                    val: val,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function () {
                    location.reload()
                    // $('#forms').hide()
                    // $('#items').show()
                }
            })
        })
        $('#back').click(function () {
            $('#forms').hide()
            $('#items').show()
        })
    })
</script>

{% endblock %}