{% for product in products %}
<div class="col-sm-6 col-lg-4">
	<div class="card text-center m-3 w-100">
		<a href="{% url 'single_product' product.id %}" style="text-decoration: none;">
			<center class="max-ht-500 mt-3 d-flex align-items-center justify-content-center"><img
					src="{{product.images1.url}}" alt="" class="card-img-top img"></center>
		</a>
		<button class="position-absolute btn rounded-circle btn-light fav" data-value="{{ product.id }}"
			id="fav{{ product.id }}">
			{% if product.id in wishList %}<i class="fas fa-heart text-danger"></i>{% else %}<i class="fa-regular fa-heart"></i>{% endif %}
		</button>
		<a href="{% url 'single_product' product.id %}" style="text-decoration: none;">
			<h5 class="card-title">{{product.name}}</h5>
		</a>
		<a href="{% url 'single_product' product.id %}" style="text-decoration: none;">
			<p class="card-text">{{product.ram}} | {{product.storage}}</p>
		</a>
		<a href="{% url 'single_product' product.id %}" style="text-decoration: none;"
			class="d-flex justify-content-around">
			{% if product.price == product.last_price %}
			<h5>₹ {{ product.price }}</h5>
			{% else %}
			<h5>₹ {{ product.last_price }}</h5> <strike>
				<p>₹ {{ product.price }}</p>
			</strike>
			<p class="text-success">{{ product.offer }}% off</p>
			{% endif %}
		</a>

		<div class="d-flex justify-content-around py-3"><button class="btn btn-info px-4 add_cart"
				data-id="{{ product.id }}"><i class="fas fa-shopping-cart"></i> Cart</button><a
				href="{% url 'buyNow' product.id %}">
				<button class="btn btn-info "><i class="fa-solid fa-bolt"></i> Buy Now</button></a></div>
	</div>
</div>
{% endfor %}
<script>
	$('.fav').click(function(){
		$.ajax({
			url: '{% url "wish" %}',
			data: {
				product_id: $(this).data('value')
			},
			success: function(response){
				if (response.action == 'add'){
					$('#fav' + response.id).html('<i class="fas fa-heart text-danger"></i>')
				}else{
					$('#fav' + response.id).html('<i class="fa-regular fa-heart"></i>')
				}
			}
		})
	})
</script>